<nav class="main-nav">
    <ul class="menu">
        <li class="btn btn-primary menu-item {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">
            <a href="{{ path('home') }}">Homepage</a>
        </li>
        <li class="btn btn-primary menu-item {% if app.request.attributes.get('_route') starts with 'post_' %}active{% endif %}">
            <a href="{{ path('post_list') }}">Posts</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="btn btn-primary menu-item {% if app.request.attributes.get('_route') == 'app_logout' %}active{% endif %}">
                <a href="{{ path('app_logout') }}">Logout {{ app.user.email }}</a>
            </li>
        {% else %}
            <li class="btn btn-primary menu-item {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">
                <a href="{{ path('app_login') }}">Login</a>
            </li>
        {% endif %}
    </ul>
</nav>
