{% extends 'base.html.twig' %}

{% block title %}List posts{% endblock %}

{% block body %}
<div class="blog-content-wrapper">
    <h1>List of last blog posts</h1>

    <div class="sub-menu">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('create_post') }}" class="btn btn-primary">Create post</a>
        {% endif %}
    </div>

    {% for post in pagination %}
        <a class="blog-post" href="{{ path('post_show', {'id': post.id}) }}">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p><small>Posted on {{ post.createdAt|date('d.m.Y H:i') }}</small></p>
        </a>
    {% else %}
        <p>No blog posts found.</p>
    {% endfor %}

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}